* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
/*task 1*/
ul {
  padding: 0;
}

li {
  list-style: none;
}

#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 392px;
  margin-left: 30px;
  padding-left: 0;
}

.item {
  background-color: #f6f6fe;
  border-radius: 8px;
  padding: 16px;

  & h2 {
    margin: 0 0 16px;
  }

  & ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  & li {
    border: 1px solid #808080;
    border-radius: 4px;
    padding: 8px 16px;
  }
}

/*task 2*/

.gallery-item {
  width: 360px;
  height: 300px;
  display: block;
}

.gallery {
  list-style: none;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 100px 156px;
}

/*task 3*/

#name-input {
  width: 360px;
  height: 40px;
  border-radius: 8px;
}

/*task 4*/

.login-form {
  width: 408px;
  height: 256px;
  padding: 24px 0px 0px 0px;
}

label {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: block;
  display: flex;
  flex-direction: column;
}

input {
  width: 340px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
}

form button {
  margin-top: 16px;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  display: block;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 0px;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}

/* task 5 */

.widget {
  text-align: center;
}

.color {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.change-color {
  width: 148px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  background: #4E75FF;;
}